p{
  margin-bottom: 0px;
}
h3{
  cursor: pointer;
}
h3:hover{
  color: #005cbf;
}
.icon{
  font-size: 2em;
  color: lightgrey;
  padding-bottom: 0.5em;
}
.edit{
  margin-right: 0.5em;
  margin-bottom: 0;
}
.alt{
  margin-right: 0.5em;
  margin-bottom: 0;
}
.edit:hover{
  margin-right: 0.5em;
  margin-bottom: 0;
  color: #005cbf;
}
.alt:hover{
  margin-right: 0.5em;
  margin-bottom: 0;
  color: #005cbf;
}
.plus{
  margin-right: 0.5em;
  margin-top: 0.4em;
}
.plus:hover{
  margin-right: 0.5em;
  margin-top: 0.4em;
  color: #005cbf;
}
