
<div class="form-group small row">
  <ul class="list-group col-md-6">
    <li class="list-group-item">27" Fernando Alonzo</li>
    <li class="list-group-item">84" Robert Kubica</li>
    <li class="list-group-item">91" James Button</li>
    <li class="list-group-item">92" Lewis Hamiltion</li>
  </ul>
  <hr/>
  <ul class="list-group col-md-6">
    <li class="list-group-item">38" Kimi Räikkönen</li>
    <li class="list-group-item">59" Sebastian Vettel</li>
  </ul>
</div>

<button type="submit" class="btn btn-primary">Edit goals</button>
